/* 
    Style principal de l'application
    Created on : 1 févr. 2015, 17:23:37
    Author     : Antoine NOSAL
*/

#connecting_bar {
    border: solid black 1px;
}

#logoECTL {
    border: solid black 1px;
}

#menu {
    border: solid black 1px;
}

#document {
    border: solid black 1px;
}