/* 
    Style principal de l'application
    Created on : 1 févr. 2015, 17:23:37
*/

body {
    font-family: Roboto;
}

#connecting_bar {
    border: solid black 1px;
}

#logoECTL {
    border-bottom: solid black 0px;
}

#menu {
    border: solid black 0px;
}

#pageAccueil {
    border: solid black 0px;
}

#zoneResultats {
    background-color: white;
}

#document {
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.document {
    border: solid #888888 0px;
    border-radius: 0px;
    box-shadow: 6px 6px 4px 4px #888888;
}

#news {
    border: solid #888888 0px;
    border-radius: 0px;
    box-shadow: 6px 6px 4px 4px #888888;
}

/* footer style */

footer {
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}

/* ***** */

.btn-disconnect {
    color: #2D4885;
}

/* navbar style */

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-brand {
    padding-top: 20px;
}

.navbar-inverse {
    background-color: #2D4885;
    border-color: #080808;
}

/* ***** */

/* PDF in easy-modal */

.iframe-container {    
    padding-bottom: 100%;
    padding-top: 30px;
    overflow: hidden;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ---- */