/* 
    Style principal de l'application
    Created on : 1 févr. 2015, 17:23:37
*/

body {
    font-family: Open Sans;
}

#connecting_bar {
    border: solid black 1px;
}

#logoECTL {
    border-bottom: solid black 1px;
}

#menu {
    border: solid black 0px;
}

#pageAccueil {
    border: solid black 1px;
}

#zoneResultats {
    background-color: whitesmoke;
}

#document {
    border: solid black 1px;
}

footer {
    text-align: right;
    border-top: solid black 1px;
}